a {
    text-decoration: none;
}

 .outerdiv {
  width: 600px;
  padding: 50px;
}


.headthclass {

    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 2px solid #ccc; 

}

.bgclass{
    background-color: skyblue;
}

.stubgclass{
    background-color: lightgreen;
}
