<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Courses</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="stylesheet" type="text/css" href="css/styles.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

	<div>
		
            <h1>Data fetched by consuming rest service in spring controller</h1>
            
		    	<div class="outerdiv">		
       			 <table class="tabledata">
       			 	<thead>
       			 		<tr>
       			 			<th></th>
		                	<th class="headthclass">ID</th>
		                	<th class="headthclass">Start</th>
		                	<th class="headthclass">End</th>
		                	<th class="headthclass">qualification</th>
		            	</tr>
       			 	</thead>
       			 	<tbody>
                        <th:block th:each="course : ${coursedata.courses}">
		            	<tr class="coursedata bgclass">
		            		<td class="anchortd"><a class="anchortag" id="${course.id}" href="#">+</a></td>
		                	<td th:text="${course.id}"/>
		                	<td th:text="${course.start}"/>
		                	<td th:text="${course.end}"/>
                            <td th:text="${course.qualification}"/>
                        </tr>

                        <tr class="studentdata">
                            <td/>
					        <td>Student ID</td>
					        <td>Name</td>
					    </tr>
					    <tr class="studentdata stubgclass" th:each="student : ${course.students}">
                            <td/>
					        <td th:text="${student.id}"/>
					        <td th:text="${student.name}"/>
					    </tr>
		                	
		            	</th:block>
		            </tbody>
                </table>
                
                </div>
    		
	</div>
	
	
	<script src="js/scripts.js"></script>
	
	
	
</body>
</html>